@model SingleHack.Models.Person
@{
    ViewData["Title"] = "Randomly Generated Code";
}

<head>
    <link rel="stylesheet" href="site.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>

<h1>You are now signed up to be matched!</h1>
<br>

<h2>Once you get a match, you will be notified by the matchmaker.</h2>
<br>

<div>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="buttom" style="color:#ffb3b3ff;font-size:20px">&laquo; Back to Main Page</a>
</div>