@{
    ViewData["Title"] = "Randomly Generated Code";
}

<head> 
<link rel="stylesheet" href="site.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>

<h1>You are now signed up to be matched!</h1>
<br>

<h2>Once you get a match, you will be notified by the matchmaker.</h2>
<br>

<div>
    <!-- Go to homepage /-->
    <button type="button" onclick="http://localhost:65391">Go back home</button>
</div>
