@{
    ViewData["Title"] = "The Blind Date Matchmaker";

}
<head>
    <link rel="stylesheet" href="site.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<div>
    <h1> The Blind Date Matchmaker </h1>
</div>
<h1> I am a... </h1>
<div>
    <button type="button"><a asp-area="" asp-controller="People" asp-action="Index">Dater</a></button>
</div>
<div>
    <!-- Make new page for Matchers /-->
    <button type="button"><a asp-area="" asp-controller="Matchers" asp-action="Index">Matcher</a></button>
</div>

