@model IEnumerable<SingleHack.Models.Matcher>
@{
    ViewData["Title"] = "Matcher";
}
<h2>Matcher</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Last().Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Last().Code)
                </td>
            </tr>
        }
    </tbody>
</table>
