@model SingleHack.Models.Matcher

@{
    ViewData["Title"] = "Edit";
}

<h2>Hello Matcher</h2>

<hr />
<div class="row">
    <p>Have a code?</p>
    <a asp-area="" asp-controller="People" asp-action="Index">Dater</a>
    <p>New Matcher?</p>
    <a asp-action="Create">Get your code</a>
</div>

<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to Main Page</a>
</div>

