@model SingleHack.Models.Matcher

@{
    ViewData["Title"] = "Edit";
}

<h1 id="title">Hello Matcher</h1>

<hr />
<div class="row">
    <p class="questions">Have a code?</p>
    <a asp-area="" asp-controller="People" asp-action="Index" class="matcher-content">Dater</a>
    <p class="questions">New Matcher?</p>
    <a asp-action="Create" class="matcher-content">Get your code</a>
</div>

<div class="space"></div>

<div>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="buttom">&laquo; Back to Main Page</a>
</div>

