@{
    ViewData["Title"] = "Matcher: Your Passwords and Codes";
}

<head>
    <link rel="stylesheet" href="site.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>

<h1>Welcome matchmaker!</h1>
<br>
<h1>To get started, please select a password.</h1>

<div>
    <form>
        <input type="text" id="password">
    </form>

    <form>
        <input type="submit">
    </form>
</div>