@{
    ViewData["Title"] = "The Blind Date Matchmaker";

}
<head>
    <link rel="stylesheet" href="site.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<div style="text-align: center;
vertical-align: middle;
line-height: 90px; ">
    <h1 id="title"> The Blind Date Matchmaker </h1>
</div>
<div style="text-align: center;
vertical-align: middle;
line-height: 90px;">
<h1 id="title"> I am a... </h1>
    </div>
<form>
    <br />
    <div class="row" style="text-align: center;
vertical-align: middle;
line-height: 90px; ">
        <div class="row">
            <a asp-area="" asp-controller="People" asp-action="Create" class="btn btn-default btn-lg" role="button" id="title" style="color:#ffb3b3ff; width:250px; height:100px;">Dater</a>
        </div>
        <div  class="row;" style="margin-top:50px" >
            <a asp-area="" asp-controller="Matchers" asp-action="Edit" class="btn btn-default btn-lg" role="button" id="title" style="color:#ffb3b3ff;width:250px; height:100px;">Matcher</a>
        </div>
   </div>
    <br />
    <br />
    <br />
</form>
