@import url('https://fonts.googleapis.com/css?family=Serif');


.buttom {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: black;
}

.space {
    margin-top: 50px;
}


table th {
    color: white;
    font-family: Cambria;
    font-size: 20px;
}

p.questions {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: white;
    font-size: 32px;
    padding: 25px;
    padding-left: 20px;
}

a.matcher-content {

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:antiquewhite;
    font-size:32px;
    padding: 25px;
    padding-left:20px;
}

#input_pw {
    padding-left: 20px;
    color: black;
}

#input_code {
    color: black
}

#title {
    font-family: Cambria;
    font-size: 54px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px
}



body {
    font-family: 'Merriweather', serif;
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: #ffb3b3ff
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

p {
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 18px;
}

h1 {
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 24px;
}

h2 {
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 18px;
}

h4 {
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 18px;
}

input [type= text] {
    margin: 0 auto;
    height: 100px;
    width: 500px;
}

input[type=submit] {
    background-color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    margin-top: 15px;
    font-size: 16px;
    font-family: "Merriweather", sans-serif;
    text-align: center;
}

button {
    background-color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    margin-top: 15px;
    font-size: 16px;
    font-family: "Merriweather", sans-serif;
    text-align: center;
}

form {
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 18px;
}
